template
  div(if.bind="currentCheckoutStep === 1")
    div.row
      div.col-lg-7.col-xs-12
        div.card
          div.card-block
            form
              h4 ${'checkout.userInfo.title' | t}
              hr
              div.form-group.row
                div.col-sm-3.col-xs-12
                  label.form-control-label ${'models.user.fullName' | t}
                div.col-sm-9.col-xs-12
                  input.form-control(type='text', value.bind="userInfo.fullName", placeholder="${'checkout.userInfo.addName' | t}", required="true")
              div.form-group.row
                div.col-sm-3.col-xs-12
                  label.form-control-label ${'models.user.email' | t}
                div.col-sm-9.col-xs-12
                  input.form-control(type='email', value.bind="userInfo.email", placeholder="${'checkout.userInfo.addEmail' | t}", required="true")
              div.form-group.row
                div.col-sm-3.col-xs-12
                  label.form-control-label ${'models.user.phone' | t}
                div.col-sm-9.col-xs-12
                  input.form-control(type='text', value.bind="userInfo.phoneNumber", placeholder="${'checkout.userInfo.addPhoneNumber' | t}", required="true")
              div.form-group.row
                div.col-sm-3.col-xs-12
                  label.form-control-label ${'models.user.city' | t}
                div.col-sm-9.col-xs-12
                  select3(items.bind="cities", value.bind="userInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
              div.form-group.row
                div.col-sm-3.col-xs-12
                  label.form-control-label ${'models.user.address' | t}
                div.col-sm-9.col-xs-12
                  input.form-control(type='text', value.bind="userInfo.address", placeholder="${'checkout.userInfo.addAddress' | t}", required="true")
              hr
              h4 ${'checkout.deliveryInfo.title' | t}
              div.form-group
                div
                  label(for="deliveryToAddress")
                    input#deliveryToAddress(type="radio", name="deliveryMethod", model.bind="true", checked.bind="toAddress", required="true")
                    | &nbsp;
                    | ${'checkout.deliveryInfo.toAddress' | t}
                div
                  label(for="deliveryToOffice")
                    input#deliveryToOffice(type="radio", name="deliveryMethod", model.bind="false", checked.bind="toAddress", required="true")
                    | &nbsp;
                    | ${'checkout.deliveryInfo.toOffice' | t}
              div(if.bind="toAddress === true")
                div.form-group
                  input#differentShipment(type="checkbox", checked.bind="differentShipmentAddress")
                  label(for="differentShipment") ${'checkout.deliveryInfo.differentAddress' | t}
                div(if.bind="differentShipmentAddress === false")
                  div
                    label.font-weight-bold ${'models.user.fullName' | t}:
                    text ${userInfo.fullName}
                  div
                    label.font-weight-bold ${'models.user.phone' | t}:
                    text ${userInfo.phoneNumber}
                  div
                    label.font-weight-bold ${'models.user.city' | t}:
                    text ${userInfo.city.name}
                  div
                    label.font-weight-bold ${'models.user.address' | t}:
                    text ${userInfo.address}
                div(if.bind="differentShipmentAddress === true")
                  div.form-group.row
                    div.col-sm-3.col-xs-12
                      label.form-control-label ${'models.user.fullName' | t}
                    div.col-sm-9.col-xs-12
                      input.form-control(type='text', value.bind="differentShipmentInfo.clientName", placeholder="${'checkout.userInfo.addName' | t}")
                  div.form-group.row
                    div.col-sm-3.col-xs-12
                      label.form-control-label ${'models.user.phone' | t}
                    div.col-sm-9.col-xs-12
                      input.form-control(type='text', value.bind="differentShipmentInfo.phoneNumber", placeholder="${'checkout.userInfo.addPhoneNumber' | t}")
                  div.form-group.row
                    div.col-sm-3.col-xs-12
                      label.form-control-label ${'models.user.city' | t}
                    div.col-sm-9.col-xs-12
                      select3(items.bind="cities", value.bind="differentShipmentInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
                  div.form-group.row
                    div.col-sm-3.col-xs-12
                      label.form-control-label ${'models.user.address' | t}
                    div.col-sm-9.col-xs-12
                      input.form-control(type='text', value.bind="differentShipmentInfo.address", placeholder="${'checkout.userInfo.addAddress' | t}")
              div(if.bind="toAddress === false")
                div.form-group.row
                  div.col-sm-3.col-xs-12
                    label.form-control-label ${'models.user.city' | t}
                  div.col-sm-9.col-xs-12
                    select3(items.bind="cities", value.bind="officeInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
                div.form-group.row
                  div.col-sm-3.col-xs-12
                    label.form-control-label ${'checkout.deliveryInfo.office' | t}
                  div.col-sm-9.col-xs-12
                    select3(items.bind="offices", value.bind="officeInfo.office", options.bind="{emptyValue: undefined, modelValueBind: true}")
              hr
              h4 ${'checkout.paymentInfo.title' | t}
              div.form-group
                input#paymentAtDelivery(type="radio", name="paymentMethod", model.bind="true", checked.bind="paymentAtDelivery", required="true")
                label(for="paymentAtDelivery") ${'checkout.paymentInfo.atDelivery.title' | t}
                div
                  small.text-muted ${'checkout.paymentInfo.atDelivery.description' | t}
              div.form-group
                input#paymentWithCard(type="radio", name="paymentMethod", model.bind="false", checked.bind="paymentAtDelivery", required="true")
                label(for="paymentWithCard") ${'checkout.paymentInfo.withCard.title' | t}
                div
                  small.text-muted ${'checkout.paymentInfo.withCard.description' | t}
              hr
              div(style="text-align: right")
                a.btn.btn-secondary(href="#/cart")
                  i.fa.fa-angle-double-left
                  | ${'cart.back' | t}
                base-button(on-click.call="proceed()", type="btn-success", title="${'cart.proceed' | t}", name="${'cart.proceed' | t}" icon="fa-angle-double-right")
      div.col-lg-5.hidden-md-down
        div.card
          ul.list-group
            template(repeat.for="cartProduct of cartProducts")
              li.list-group-item
                div.row(style="font-size: 0.8em")
                  div.col-xs-2
                    img.card-img-top.img-fluid(src="assets/images/${cartProduct.product.image}", style="width: auto; height: 3em")
                  div.col-xs-4
                    span ${cartProduct.product.title}
                  div.col-xs-2
                    span ${cartProduct.quantity} ${'checkout.quantityLabel' | t}
                  div.col-xs-4
                    label.font-weight-bold ${cartProduct.product.price | sumFormat}
          div.card-block(style="text-align: right")
            div
              label.font-weight-bold ${'products.price' | t}:
              text ${totalProductsPrice | sumFormat}
            div
              label.font-weight-bold ${'cart.deliveryPrice' | t}:
              text ${deliveryPrice | sumFormat}
            div
              label.lead ${'cart.totalPrice' | t}:
              text.lead ${totalPrice | sumFormat}
  div(if.bind="currentCheckoutStep === 2")
    h1 ${'checkout.orderInfo.title' | t}
    div.row
      div.col-md-4.col-xs-12
        div.card.card-block
          h5.card-title ${'checkout.orderInfo.client' | t}
          hr
          div ${userInfo.fullName} - ${userInfo.phoneNumber}
          div ${userInfo.address}, ${userInfo.city.name}
          div ${userInfo.email}
      div.col-md-4.col-xs-12
        div.card.card-block
          h5.card-title ${'checkout.orderInfo.delivery' | t}
          hr
          div.font-weight-bold ${deliveryInfo.type}
          div ${deliveryInfo.client.name} - ${deliveryInfo.client.phoneNumber}
          div ${deliveryInfo.address}, ${deliveryInfo.city.name}
      div.col-md-4.col-xs-12
        div.card.card-block
          h5.card-title ${'checkout.orderInfo.payment' | t}
          hr
          div.font-weight-bold ${paymentInfo.method}
          div ${paymentInfo.description}
      div.col-xs-12
        div.card.card-block
          h5.card-title ${'checkout.title' | t}
          hr
          ul.list-group
            template(repeat.for="cartProduct of cartProducts")
              li.list-group-item
                div.row(style="font-size: 0.8em")
                  div.col-xs-2
                    img.card-img-top.img-fluid(src="assets/images/${cartProduct.product.image}", style="width: auto; height: 3em")
                  div.col-xs-4
                    span ${cartProduct.product.title}
                  div.col-xs-2
                    span ${cartProduct.quantity} ${'checkout.quantityLabel' | t}
                  div.col-xs-4
                    label.font-weight-bold ${cartProduct.product.price | sumFormat}
          div.card-block.row
            div.col-sm-6.col-xs-12
              div
                label.font-weight-bold ${'products.price' | t}:
                text ${totalProductsPrice | sumFormat}
              div
                label.font-weight-bold ${'cart.deliveryPrice' | t}:
                text ${deliveryPrice | sumFormat}
            div.col-sm-6.col-xs-12(style="text-align: right")
              label.lead ${'cart.totalPrice' | t}:
              text.lead ${totalPrice | sumFormat}
          base-button(on-click.call="back()", type="btn-secondary", title="${'cart.back' | t}", name="${'cart.back' | t}" icon="fa-angle-double-left")
          base-button(on-click.call="order()", type="btn-success", title="${'cart.order' | t}", name="${'cart.order' | t}" icon="fa-angle-double-right")
