template
  div.row
    div.col-sm-6
      div.card
        div.card-block
          form
            h4 ${'checkout.userInfo.title' | t}
            hr
            div.form-group.row
              div.col-sm-3
                label.form-control-label ${'models.user.fullName' | t}
              div.col-sm-9
                input.form-control(type='text', value.bind="userInfo.name", placeholder="${'checkout.userInfo.addName' | t}", required="true")
            div.form-group.row
              div.col-sm-3
                label.form-control-label ${'models.user.email' | t}
              div.col-sm-9
                input.form-control(type='email', value.bind="userInfo.email", placeholder="${'checkout.userInfo.addEmail' | t}", required="true")
            div.form-group.row
              div.col-sm-3
                label.form-control-label ${'models.user.phone' | t}
              div.col-sm-9
                input.form-control(type='text', value.bind="userInfo.phoneNumber", placeholder="${'checkout.userInfo.addPhoneNumber' | t}", required="true")
            div.form-group.row
              div.col-sm-3
                label.form-control-label ${'models.user.city' | t}
              div.col-sm-9
                select3(items.bind="cities", value.bind="userInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
            div.form-group.row
              div.col-sm-3
                label.form-control-label ${'models.user.address' | t}
              div.col-sm-9
                input.form-control(type='text', value.bind="userInfo.address", placeholder="${'checkout.userInfo.addAddress' | t}", required="true")
            hr
            h4 ${'checkout.deliveryInfo.title' | t}
            div.form-group
              div
                label(for="deliveryToAddress")
                  input#deliveryToAddress(type="radio", name="deliveryMethod", model.bind="true", checked.bind="toAddress", required="true")
                  | &nbsp;
                  | ${'checkout.deliveryInfo.toAddress' | t}
              div
                label(for="deliveryToOffice")
                  input#deliveryToOffice(type="radio", name="deliveryMethod", model.bind="false", checked.bind="toAddress", required="true")
                  | &nbsp;
                  | ${'checkout.deliveryInfo.toOffice' | t}
            div(show.bind="toAddress === true")
              div.form-group
                input#differentShipment(type="checkbox", checked.bind="differentShipmentAddress")
                label(for="differentShipment") ${'checkout.deliveryInfo.differentAddress' | t}
              div(show.bind="differentShipmentAddress === false")
                div
                  label.font-weight-bold ${'models.user.fullName' | t}:
                  text ${userInfo.name}
                div
                  label.font-weight-bold ${'models.user.phone' | t}:
                  text ${userInfo.phoneNumber}
                div
                  label.font-weight-bold ${'models.user.city' | t}:
                  text ${userInfo.city.name}
                div
                  label.font-weight-bold ${'models.user.address' | t}:
                  text ${userInfo.address}
              div(show.bind="differentShipmentAddress === true")
                div.form-group.row
                  div.col-sm-3
                    label.form-control-label ${'models.user.fullName' | t}
                  div.col-sm-9
                    input.form-control(type='text', value.bind="differentShipmentInfo.clientName", placeholder="${'checkout.userInfo.addName' | t}", required="true")
                div.form-group.row
                  div.col-sm-3
                    label.form-control-label ${'models.user.phone' | t}
                  div.col-sm-9
                    input.form-control(type='text', value.bind="differentShipmentInfo.phoneNumber", placeholder="${'checkout.userInfo.addPhoneNumber' | t}", required="true")
                div.form-group.row
                  div.col-sm-3
                    label.form-control-label ${'models.user.city' | t}
                  div.col-sm-9
                    select3(items.bind="cities", value.bind="differentShipmentInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
                div.form-group.row
                  div.col-sm-3
                    label.form-control-label ${'models.user.address' | t}
                  div.col-sm-9
                    input.form-control(type='text', value.bind="differentShipmentInfo.address", placeholder="${'checkout.userInfo.addAddress' | t}", required="true")
            div(show.bind="toAddress === false")
              div.form-group.row
                div.col-sm-3
                  label.form-control-label ${'models.user.city' | t}
                div.col-sm-9
                  select3(items.bind="cities", value.bind="officeInfo.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
              div.form-group.row
                div.col-sm-3
                  label.form-control-label ${'checkout.deliveryInfo.office' | t}
                div.col-sm-9
                  select3(items.bind="offices", value.bind="officeInfo.office", options.bind="{emptyValue: undefined, modelValueBind: true}")
            hr
            h4 ${'checkout.paymentInfo.title' | t}
            div.form-group
              input#paymentAtDelivery(type="radio", name="paymentMethod", required="true")
              label(for="paymentAtDelivery") ${'checkout.paymentInfo.atDelivery.title' | t}
              div
                small.text-muted ${'checkout.paymentInfo.atDelivery.description' | t}
            div.form-group
              input#paymentWithCard(type="radio", name="paymentMethod", required="true")
              label(for="paymentWithCard") ${'checkout.paymentInfo.withCard.title' | t}
              div
                small.text-muted ${'checkout.paymentInfo.withCard.description' | t}
            hr
            div(style="text-align: right")
              a.btn.btn-secondary(href="#/cart")
                i.fa.fa-angle-double-left.fa-lg
                | &nbsp;
                | ${'cart.back' | t}
              button.btn.btn-primary(type='submit')
                i.fa.fa-angle-double-right.fa-lg
                | &nbsp;
                | ${'cart.proceed' | t}
    div.col-sm-6
      div.card
        ul.list-group
          template(repeat.for="cartProduct of cartProducts")
            li.list-group-item
              div.row(style="font-size: 0.8em")
                div.col-sm-2
                  img.card-img-top.img-fluid(src.bind="cartProduct.product.picture", style="width: auto; height: 3em")
                div.col-sm-4
                  span ${cartProduct.product.title}
                div.col-sm-4
                  span ${cartProduct.quantity} ${'checkout.quantityLabel' | t}
                div.col-sm-2
                  label.font-weight-bold ${cartProduct.product.price | sumFormat}
        div.card-block(style="text-align: right")
          div
            label.font-weight-bold ${'products.price' | t}:
            text ${totalProductsPrice | sumFormat}
          div
            label.font-weight-bold ${'cart.deliveryPrice' | t}:
            text ${deliveryPrice | sumFormat}
          div
            label.lead ${'cart.totalPrice' | t}:
            text ${totalPrice | sumFormat}
