template
  button.btn.btn-sm(click.delegate="buttonClicked()",
    title.bind="title",
    class="${disabled ? 'disabled ' : ''} ${selected ? 'active btn-primary' : 'btn-secondary'}")
    i.fa.fa-lg(class.bind="icon", if.bind="icon")
    span(if.bind="name") &nbsp; ${name}
    content
