template
  button.btn.btn-sm(click.delegate="buttonClicked()",
             disabled.bind="disabled",
             title="${title | t}",
             class.bind="type")
    i.fa.fa-lg(class.bind="icon", if.bind="icon")
    span(if.bind="icon && name") &nbsp;
    span(if.bind="name") ${name}
