template
  base-button(on-click.call="buttonClicked()",
  disabled.bind="disabled",
              title.bind="name",
              name.bind="name",
              icon="fa-filter",
              type.bind="type")

