template
  base-button(on-click.call="buttonClicked()",
              disabled.bind="disabled",
              title.bind="title",
              name.bind="name",
              icon="fa-pencil",
              type="btn-default")

