template
  div.row
    template(repeat.for="product of products")
      div.col-sm-6.col-md-4.col-lg-3
        div.card
          a(href="#/products/${product.id}")
            img.card-img-top.img-fluid(src.bind="product.picture")
          div.card-block
            h4.card-title
              a(href="#/products/${product.id}") ${product.title}
            div
              span ${product.rating.toFixed(1)}
              | &nbsp;
              span.rating
                span(repeat.for="rateValue of ratings",
                class.bind="product.rating.toFixed(0) >= rateValue ? 'filled-star star' : 'star'")
            div.card-text ${product.price | sumFormat}
            base-button(on-click.call="addToCart(product)", type="btn-primary", icon="fa-cart-plus", name="products.buy", title="products.buy")
          div.card-footer

            a.btn.btn-primary(href="#/products/${product.id}") ${'products.details' | t}

